@tailwind base;
@tailwind components;
@tailwind utilities;

.bgNav {
  background-color: rgba(255, 255, 255, .35);
}

.bgGrad {
  color: white;
  background-image: url(../app/assets/WeatherReBg.png);
  background-size: cover !important;
  height: auto !important;
  background-repeat: no-repeat;
}

.vh{
  height: 100vh;
}

/* body{
  color: white;
  background-image: linear-gradient( to bottom, #0C89B7, #CCE4EE) !important;
  background-size: cover !important;
  background-position: 50% !important;
  height: auto !important;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
} */

.namebg{
  border: 1px;
  border-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, .35) !important;
  border-radius: 20px;
}

.inputClass{
  background-image: url(./assets/MagGlass.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 10px;
  background-position-y: 3px;

}

.bigtxt{
  font-size: 75px;
}

.locnametxt{
  font-size: 60px;
  font-weight: 600;
}

.fifty{
  font-size: 50px;
}

.tf{
  font-size: 25px;
}

.thirtf{
  font-size: 35px;
}

.twenty{
  font-size: 20px;
  color: #3D4849;
}

input{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  color: black;
}

.fwnav{
  font-weight: 600;
}

.fivebg{
  background-color: rgba(255, 255, 255, .35);
  border-radius: 25px;
  height: 550px;
}

.black{
  color: #3D4849;
}

.gray{
  color: gray;
}

.favClass{
  font-size: 20px;
}

.xClass{
  background-color: rgba(255, 255, 255, .35);
  border-radius: 35px;
  margin-left: 25px;
  margin-right: 25px;
}
